// Specific CSS for your home-page
.background {
  height: 60vh;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%), asset-url("background.png")
}

.background h1 {
  font-weight: bold;
  font-size: 33.5869px;
  margin-bottom: 16px;
}

.background h3 {
  font-size: 20.6688px;
  padding-bottom: 14px;
  line-height: 25px;
  font-weight: 300;
}

.main-button {
  background: $lightblue;
  color: white;
  font-weight: 600;
  font-size: 18.0852px;
  padding: 10px 30px;
  border-radius: 24.1933px;
}

.main-button:hover {
  text-decoration: none;
  opacity: .9;
  color: white;
}

.back-text {
  padding-top: 91px;
  color: white;
  padding-left: 48px;
  padding-right: 20px;
}

.second-button {
  background: $lightblue;
  color: white;
  font-weight: 600;
  font-size: 18.0852px;
}
