<div class="background">
  <div class="back-text">
    <h1>Take control of your finances</h1>
    <h3>Organize the stocks you follow in one place</h3>
    <a class="main-button" href="/stocks">start now</a>
  </div>
</div>

<div class="mid-section">
  <h2>Follow company stocks easily.</h2>

  <div class="stock-wrapper" style="background: #03006F; padding: 12px 25px; font-size: 18px;">
    <p class="name">Facebook</p>
    <p class="amount">$157.21</p>
      <div class="percent">
        <p style="color: #87FFA1;">6.97%</p>
      </div>
  </div>

  <div class="stock-wrapper" style="background: #03006F; padding: 12px 25px; font-size: 18px;">
    <p class="name">Clorox</p>
    <p class="amount">$192.00</p>
      <div class="percent">
        <p style="color: #87FFA1;">0.38%</p>
      </div>
  </div>

  <div class="stock-wrapper" style="background: #03006F; padding: 12px 25px; font-size: 18px;">
    <p class="name">Apple</p>
    <p class="amount">$249.29</p>
      <div class="percent">
        <p style="color: #87FFA1;">1.06%</p>
      </div>
  </div>

</div>

<div class="bottom-section">
  <div class="bottom-text">
    <h2>Create a dashboard of stocks that   you watch</h2>
    <a class="second-button" href="/stocks">start now</a>
  </div>
</div>


