<div class="background">
  <div class="back-text">
    <h1>Take control of your finances</h1>
    <h3>Organize the stocks you follow in one place</h3>
    <a class="main-button" href="/stocks">start now</a>
  </div>
</div>

<div class="mid-section">
  <h2>Follow company stocks easily.</h2>

</div>

<div class="bottom-section">
  <h2>Create a dashboard of stocks that you watch</h2>
  <a class="second-button" href="/stocks">start now</a>
</div>


